<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-vertical-center">
                <h3>The Team</h3>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/astria-julia-valentine/aid_43887/">
                                <%= image_tag "julia.jpg", width: 405, class: "img-portfolio img-responsive" %>
                            </a>
                            <h3>Julia Valentine</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="https://www.coldwellbankerhomes.com/az/phoenix/agent/tabitha-valentine/aid_35493/">
                                <%= image_tag "tabitha.jpg", width: 350, class: "img-portfolio img-responsive" %>
                            </a>
                            <h3>Tabitha Valentine Morales</h3>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
