<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h3>Check us out here too!</h3>
          <%= link_to "Coldwell Banker Portal!", "http://juliavalentine.cbintouch.com", class: "btn btn-lg btn-light" %></h3>
            </div>
        </div>
    </div>
</aside>
