<section id="our-arizona">
  <aside class="call-to-action">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <div class="col-sm-6 col-sm-6">
                <div class="about-text">
                  <h2>Arizona <i>Our</i> Home</h2>
                  <h4>We are Julia A. Valentine and Tabitha Valentine Morales, a Coldwell Banker Residential Realty team 
                     located in choice Fountain Hills, AZ (#fabfountainhills). 
                     After years of living abroad, including Europe, Australia, Costa Rica and Panama, 
                     we made Arizona our home in 2005.</h4>
                </div>
              </div>
              
              <div class="col-sm-6 col-sm-6"> 
                <div class="about-text">
                   <h2>Arizona <i>Your</i> Home</h2>
                   <h4>We know why Phoenix was voted the 2015 # 1 retirement location in America ! 
                  "Good weather and a high well-being score" is just part of the story. 
                   Come see why people of all ages find the Arizona lifestyle irresistible!</h4>
                </div>
              </div>

              <div class="col-lg-12 text-center">
                <div class="about-text">
                  <h3>Check us out here too!</h3>
                  <%= link_to "Coldwell Banker Portal!", "http://juliavalentine.cbintouch.com", class: "btn btn-lg btn-light" %></h3>
                </div>      
              </div>
            </div>
          </div>
      </div>
  </aside>
</section>