<section id="footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-vertical-center">
                    <h4><strong>Coldwell Banker Residential Brokerage</strong>
                    </h4>
                    <p>3113 E Lincoln Dr, Phoenix, AZ 85016</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (602)515-9287</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">juliavalentine7@hotmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/julia.valentine.3745">
                            <i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/OurAZlife">
                            <i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://view-instagram.com/usr/juliavalentineazproperties/id-3171631844">
                            <i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="app-footer"></p>
                </div>
            </div>
        </div>
    </footer>
</section>
