<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Julia Valentine </h1>
        <h1>Arizona Properties</h1>
        <br>
        <p><%= image_tag "cbrb_logo.png", width: 125, alt: "profile image", class: 'profile-image' %></p>
    </div>
</header>