<header id="top" class="header">
    <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <div class="header-content">
              <div class="header-content-inner text-vertical-center-center">
                <h1>Julia Valentine <br> AZ Properties</h1>
                <br>
                <a><%= image_tag "cbrb_logo.png", class: "profile-image" %></a>
                <a><%= image_tag "equal-housing-op-logo.jpg", class: "equal-housing-logo-image" %></a>
                <br>
                <br>
                <a href="#form" class="btn btn-outline btn-xl page-scroll">Email me!</a>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="wrapper-container">
              <div class="device">
                <div class="vid">
                  <%= video_tag(
                      'fountain.mov',
                      autoplay: true,
                      loop: true,
                      muted: true,
                      width: 200,
  
                    )
                  %>
                </div>
              </div>
              <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            
          </div>
        </div>
    </div>
</header>
