<header id="top" class="header">
    <div class="text-vertical-center" data-stellar-ratio="0.5">
        <h1>Julia Valentine </h1>
        <h1>Arizona Properties</h1>
        <br>
        <a><%= image_tag "cbrb_logo.png", class: "profile-image" %></a>
        <a><%= image_tag "equal-housing-op-logo.jpg", class: "equal-housing-logo-image" %></a>
    </div>
</header>
