<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-vertical-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-home fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Buying</strong>
                            </h4>
                            <p>Are you wanting your dream home? Give us a call and tell us what you're looking for</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-usd fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Selling</strong>
                            </h4>
                            <p>Want to work with someone you trust? We'll help you get the most with your home.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-bed fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Renting</strong>
                            </h4>
                            <p>Whether it's a house, apartment, condo, or townhouse we'll find the right one for you.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Referrals</strong>
                            </h4>
                            <p>Want to leave the state, or move to AZ? Contact Us and we'll refer you or receive that referral!</p>
                            
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>