<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-vertical-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-home fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Buying</strong>
                            </h4>
                            <p>Thinking about taking the leap to Arizona?  
                            Let us help you find the best location. 
                            From trendy to quaint, there's a neighborhood for you to settle down in and kick off your shoes. 
                            Where will you be this time next year if you don't take the first step?</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-usd fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Selling</strong>
                            </h4>
                            <p>Want to work with someone you trust? Communicaton and Negotiation are what we do! 
                            We'll help you get the most with your home and leave you the upmost satisfied!</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-bed fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Renting</strong>
                            </h4>
                            <p>Whether it's a house, apartment, condo, or townhouse we treat you no less than the buyer or the seller.
                            We work hard for everyone of our clients and strive to provide happiness.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Referrals</strong>
                            </h4>
                            <p>Want to leave the state, or move to AZ? Snow Bird, or just looking? Contact Us and we'll refer you to a qualified 
                            realtor who cares about your happiness. We will also gladly receive any referral and will provide 100% to meet your home dreams!</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>