<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>We're not selling houses, We're selling <i>Happiness</i>!</h2>
            </div>
        </div>
    </div>
</section>
