<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Contact Us!</h1>
      <div class="skinny_wrapper wrapper_padding">
        <h1>Thank you for your message!</h1>
        <p>I'll get back to you soon.</p>
      </div>
    </div>
  </div>
</div>