<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="skinny_wrapper wrapper_padding">
          <div class="well">
            <h1>Thank you for your message!</h1>
            <p>I'll get back to you soon.</p>
          </div>
          <%= link_to "Home", root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>